@font-face {
  font-family: 'Title';
  src: url('../../public/font/Neglige.otf');
}
@font-face {
  font-family: 'Body';
  src: url('../../public/font/NeueMontreal_Medium.otf');
}

.bodyCoupons{
  margin: 0px;
  font-family: 'Body';

}

.h2Coupons{
  font-family: 'Title';
}